.img-hover{
    overflow: hidden;
    cursor: pointer;
}

.img-hover > img{
    transition: .4s;
}

.img-hover > img:hover{
    transform: scale(1.2);
}

.card-description {
    max-height: 100px; /* Establecer la altura máxima deseada */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.category{
    color: #000;
    background-color: rgb(165, 164, 164);
    transition: .5s;
}

.category:hover{
    background-color: steelblue;
    color: aliceblue;
}